<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarMain"
        tools:targetApi="31">
        <activity
            android:name=".StatsScreenA"
            android:exported="false"
            android:label="@string/title_activity_stats"
            android:theme="@style/Theme.CarMain" />
        <activity
            android:name=".TimeLine"
            android:exported="false"
            android:label="@string/title_activity_time_line"
            android:theme="@style/Theme.CarMain" />
        <activity
            android:name=".Graphs"
            android:exported="false"
            android:label="@string/title_activity_graphs"
            android:theme="@style/Theme.CarMain" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.CarMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>